:root {
  --pink-muda: rgb(167, 139, 250);
  --hijau-muda: rgb(167, 243, 208);
}
body {
  background-image: linear-gradient(to top left, var(--pink-muda), var(--hijau-muda));
  min-height: 100vh;
  padding: 20px;
}
.isian {
  background-color: white;
  width: 600px;
  border-radius: 15px;
  margin: auto;
  overflow: hidden;
}
label {
  cursor: pointer;
  display: flex;
  padding: 5px 10px;
}
label:hover {
  background-color: rgba(0, 0, 0, 0.1);
}